@import "../../scss/custom.scss";

.full-weather{
    display: flex;
    @media screen and (min-width: 0px) {
        flex-direction: column;
    }

    @media screen and (min-width: 900px) {
        flex-direction: row;
    }
}